<section class="hero-container">
	<div class="hero">
		<h1>Bienvenue sur
			<span class="highlight strong">MINDMATE</span>
		</h1>
		<p class="lead">Votre allié pour apprendre
			<span class="highlight">plus vite</span>
			et
			<span class="highlight">mieux</span>
		</p>
		<img src="{{ asset('images/hero1.jpg') }}" alt="Image Hero">

	</div>
	<div>
		<img src="{{ asset('images/hero2.jpg') }}" alt="Image Hero">
		<p>
			<span class="strong title">MINDMATE
				<span>
					simplifie l'apprentissage avec des résumés clairs et des quiz interactifs, adaptés aux étudiants,
															professionnels et curieux. Cela préserve l'essence tout en étant
				</p>
				<p>INSCRIVEZ VOUS MAINTENANT</p>
			</div>
		</p>
	</section>
