<section class="prix-section">
    <div class="intro">
        <h2>NOS PRIX</h2>
    </div>

    <div class="prix-plans">
        <div class="plan free">
            <h3>FREE</h3>
            <p class="price">Gratuit pour toujours</p>
            
            <table>
                <tr>
                    <td>Espace requête</td>
                    <td>5000 Caractères</td>
                </tr>
                <tr>
                    <td>Quizz</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Stockage de cours</td>
                    <td>Aucun</td>
                </tr>
                <tr>
                    <td>Accès support</td>
                    <td>Non</td>
                </tr>
            </table>
            
            <p class="note">Accès premium offert pendant 24h à l'inscription !</p>
        </div>

        <div class="plan-premium">
            <h3>PREMIUM</h3>
            <p class="price">9,99€ par Mois</p>
            
            <table>
                <tr>
                    <td>Espace requête</td>
                    <td>Illimité</td>
                </tr>
                <tr>
                    <td>Quizz</td>
                    <td>Illimité</td>
                </tr>
                <tr>
                    <td>Stockage de cours</td>
                    <td>Illimité</td>
                </tr>
                <tr>
                    <td>Accès support</td>
                    <td>Oui</td>
                </tr>
            </table>
            
            <p class="note">Accès exclusif au Discord communautaire !</p>
        </div>
    </div>
</section>