body {
    background-color: #D9D9D9;
    font-family: 'Lato', sans-serif;
}


#navbar {
    background-color: #030E1F;
    padding: 0 20px;
    width: 1075px;
    height: 50px;
    color: white;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
}

#logo-container {
    font-size: 25px;
    font-weight: bold;
    color: white;
    font-family: 'Bungee';
}

#nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

#nav-list :hover {
    text-decoration: underline;
}

#nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

#links a {
    text-decoration: none;
    margin-left: 15px;
    font-family: 'Bungee';
    font-size: 25px;
    font-weight: bold;
}

/* #links a:hover {
    color: #D9D9D9;
} */

#register-button {
    background-color: #D9D9D9;
    padding: 5px 10px;
    border-radius: 8px;
    color: #030E1F;
    font-weight: bold;
}

#login-button {
    color: #D9D9D9;
    font-weight: bold;
}

#user-name {
    color: #D9D9D9;
    margin-left: 10px;
    font-weight: bold;
    text-decoration: none;
}

#logout-button {
    color: #030E1F;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: #D9D9D9;
    font-weight: bold;

    text-decoration: none;
}


.footer-container {
    background-color: #030E1F;
    padding: 20px;
    max-width: 1075px;
    color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: bottom;
    border-radius: 8px 8px 0 0;
    font-family: 'Bungee';
}

#footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 120px;
    justify-content: center;
}

#footer-list li {
    display: inline-block;
}

#footer-list a {
    text-decoration: none;
    color: white;
}

#footer-list a:hover {
    text-decoration: underline;
}

#social-icons {
    display: flex;
    justify-content: center;
    gap: 110px;
    margin-top: 20px;
    margin-bottom: 15px;
}

#social-icons img {
    width: 50px;
    height: 45px;
    transition: transform 0.3s ease;
}

#social-icons a:hover img {
    transform: scale(1.1);
}

.faq-section {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.faq-section .intro h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.faq-section .subtitle {
    text-align: center;
    margin-bottom: 2rem;
    display: block;
    color: #666;
    font-size: 1.2rem;
}

.faq-container {
    border-top: 1px solid #eee;
    margin-top: 2rem;
}

.faq-item {
    border-bottom: 1px solid #eee;
    transition: all 0.3s ease;
}

.faq-question {
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.faq-question:hover {
    background-color: #f9f9f9;
}

.faq-question h3 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
    color: #444;
    flex: 1;
}

.faq-answer {
    padding: 0 0 1.5rem 0;
    color: #555;
    line-height: 1.6;
}

.faq-answer p {
    margin: 0;
    padding: 0 1rem;
}

.arrow {
    transition: transform 0.3s ease;
    font-size: 1.2rem;
    margin-left: 1rem;
    color: #666;
}

.faq-item.active .arrow {
    transform: rotate(180deg);
}


/* les avis */

h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 0.5rem;
    color: #0c0c0c;
    font-family: 'Bungee';
    font-style: bold;
    margin-bottom: 30px;
}

.comment-content {
    font-family: 'Lato', sans-serif;
}

.commentaires-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

/* First card */
.commentaires-container .card:nth-child(1) {
    background-color: #030E1F;
}

/* Last card (6th card) */
.commentaires-container .card:nth-child(6) {
    background-color: #030E1F;
}

/* 2nd and 5th card */
.commentaires-container .card:nth-child(2),
.commentaires-container .card:nth-child(5) {
    background-color: #387478;
}

/* 3rd and 4th card */
.commentaires-container .card:nth-child(3),
.commentaires-container .card:nth-child(4) {
    background-color: #629584;
}

.card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    border: solid #030E1F;
    border-width: 3px 3px 9px 3px;
    width: 25%;
    margin-bottom: 20px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-15px);
    background-color: #eaeaea;
}

.card h3 {
    margin-bottom: 10px;
    text-align: left;
    font-size: 25px;
    font-family: 'Bungee';
    font-style: bold;
}

.card-actions a {
    text-decoration: none;
    padding: 8px 16px;
    margin-right: 10px;
    border-radius: 4px;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.commentaires-container p img {
    width: 24px;
    height: 24px;
    margin-right: 4px;
    margin-top: 5px;
    vertical-align: middle;
    transition: transform 0.2s ease;
}

.commentaires-container p img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@media (max-width: 768px) {
    .card {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
    }
}

.hero-block {
    margin: 40px auto;
    max-width: 1100px;
    padding: 20px;
    border-radius: 10px;
}

#mind {
    font-family: 'Bungee';
    font-style: bold;
}

p {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    line-height: 1.5em;
    margin-bottom: 20px;
    color: white;
}

.hero-academic {
    padding: 20px;
    color: white;
    border-radius: 8px;
    border: solid #030E1F;
    border-width: 3px 3px 9px 3px;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.hero-academic .hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    max-width: 60%;
    width: 100%;
}

.hero-academic h1 {
    font-family: 'Bungee';
    font-style: bold;
    font-size: 2.5em;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: right;
}

.hero-academic .lead {
    font-size: 1.25em;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: right;
}

.hero-academic .highlight {
    color: #387478;
    font-style: bold;
}

.hero-academic img {
    width: 250px;
    border-radius: 10px;
    margin-right: 20px;
}

.hero-engaging {
    background-color: #387478;
    padding: 20px;
    color: white;
    border-radius: 8px;
    border: solid #030E1F;
    border-width: 3px 3px 9px 3px;
    max-width: 900px;
    margin: 0 auto;
}


.hero-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.hero-engaging img {
    width: 250px;
    border-radius: 10px;
}

.hero-engaging .text {
    flex: 1;
    min-width: 280px;

}

p {
    font-size: 20px;
    font-weight: 400;
    text-align: right;
    margin-top: 20px;
    line-height: 1.5em;
    margin-bottom: 20px;
}

.hero-engaging .title {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

#inscription {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
    color: black;
    background-color: #629584;
    font-style: bold;
    border-radius: 8px;
    border: solid #D9D9D9;
    border-width: 3px 3px 9px 3px;
    padding: 8px 13px;
    width: auto;
    height: auto;
}




/* login */

form {
    background-color: #629584;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 8px;
    border: solid #030E1F;
    border-width: 3px 3px 9px 3px;
}


/* 🔔 Alert Messages */
.alert {
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px auto;
    max-width: 500px;
    /* Match form width */
    text-align: center;
}

/* ❌ Error Message */
.alert-danger {
    background-color: #dc3545;
    color: white;
    border: 1px solid #b02a37;
}

/* 💎 Paid User Alert */
.alert-info {
    background-color: #17a2b8;
    color: white;
    border: 1px solid #117a8b;
}

/* ⚠️ Unpaid User Alert */
.alert-warning {
    background-color: #ffc107;
    color: black;
    border: 1px solid #c69500;
}

/* 🔘 Not Logged In */
.alert-secondary {
    background-color: #6c757d;
    color: white;
    border: 1px solid #545b62;
}

/* 📜 Logged-In Info */
.mb-3 {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

/* 🏷️ Link Styling */
a {
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


h1 {
    font-family: 'Bungee';
    font-style: bold;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

/* Label Styling */
label {
    font-weight: bold;
    margin-top: 15px;
    font-size: 16px;
    color: white;
}

/* Input Fields Styling */
input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
    border-radius: 8px;
    border: solid #030E1F;
    border-width: 3px 3px 3px 3px;
}

input:focus {
    outline: none;
}

/* Checkbox Styling */
.form-check {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.form-check-input {
    margin-right: 10px;
}

/* Register Button Styling */
button {
    background-color: #030E1F;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 12px;
    margin-top: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}



/* Responsive Design */
@media (max-width: 600px) {
    form {
        max-width: 90%;
        padding: 20px;
    }

    label,
    input {
        font-size: 14px;
    }

    button {
        font-size: 16px;
        padding: 10px;
    }
}




/* Title */
h1 {
    font-family: 'Arial Black', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}


/* 🌟 Table Styling */
.table {
    width: 100%;
    max-width: 1100px;
    height: auto;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    margin: 40px auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

/* 📌 Header Styling */
.table thead {
    background-color: #030E1F;
    color: white;
}

.table th {
    text-align: left;
    padding: 14px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 3px solid #030E1F;
}

/* 🔄 Body Styling */
.table td {
    padding: 14px;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    color: #333;
}

/* 🖱️ Hover Effect */
.table tbody tr:hover {
    background-color: #f2f7ff;
    transform: scale(1.01);
}

/* 🔗 Links Styling */
.table td a {
    margin-right: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 5px;
    transition: background 0.3s ease, color 0.3s ease;
}

.table td a:hover {
    background-color: #ffc107;
    color: white;
}

/* 🔘 Styling for Buttons */
.action-buttons {
    display: flex;
    gap: 10px;
    /* Space between buttons */
}

/* Show Button */
.btn-primary {
    background-color: #030E1F;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s ease;
}

.btn-primary:hover {
    background-color: #ffc107;
}

/* Edit Button */
.btn-warning {
    background-color: #ffc107;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s ease;
}

.btn-warning:hover {
    background-color: #030E1F;
}


/* 🔘 Create Button Styling */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Optional: centers vertically if you want */
    margin: 20px 0; /* Optional spacing */
}

.create-button {
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #030E1F;
    padding: 10px 20px;
    border-radius: 6px;
    transition: 0.3s ease, transform 0.2s ease;
    width: 150px; /* Fixed width */
}

/* 🚀 Hover Effect */
.create-button:hover {
    background-color: #218838;
    /* Slightly darker green */
    transform: scale(1.05);
}

/* ✅ Active State */
.create-button:active {
    background-color: #1e7e34;
}

.mindmate-form {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.mindmate-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #222;
    text-transform: uppercase;
}

.mindmate-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 30px;
    text-align: center;
}

.mindmate-field {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.mindmate-input-title {
    width: 100%;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    border: solid #030E1F;
}

.mindmate-textarea-content {
    width: 100%;
    height: 300px;
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
    resize: vertical;
    box-sizing: border-box;
    border: solid #030E1F;
    border-width: 3px 3px 9px 3px;
}

.mindmate-submit-button {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    padding: 14px 40px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mindmate-submit-button:hover {
    background-color: #333;
}

#inscription:hover {
    background-color: #90D9C0;
}
