{% extends 'base.html.twig' %}

{% block title %}Commentaire index{% endblock %}

{% block body %}


{{ include('commentaire/index.html.twig')}}

    <a href="{{ path('app_commentaire_new') }}">Create new</a>
{% endblock %}
