{% extends 'base.html.twig' %}

{% block title %}Edit MotCle{% endblock %}

{% block body %}
    <h1>Edit MotCle</h1>

    {{ include('mot_cle/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_mot_cle_index') }}">back to list</a>

    {{ include('mot_cle/_delete_form.html.twig') }}
{% endblock %}
