{% extends 'base.html.twig' %}

{% block title %}Modifier le cours
{% endblock %}

{% block body %}
	<h1>Modifier le cours</h1>

	{% include 'cours/_form.html.twig' with {'form': form, 'button_label': 'Mettre à jour'} %}

	<a href="{{ path('app_cours_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}
